*{
box-sizing: border-box;
padding: 0;
margin: 0 auto;
}
body{
    background-color: #ffff52;
   background-repeat: no-repeat;
   background-size: cover;
}
.container{
    width: 60%;
    margin: 0 auto;
}
h3{
    margin-top: 10px;
    text-align: center;
}
.photo{
    display: flex;
}
.photo img{
    
    border-radius: 20px;
    max-width: 200px;
}
#root{
    color: rgb(255, 255, 255)000;
    background-image: url(https://img.freepik.com/free-vector/instagram-background-in-gradient-colors_23-2147819864.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 10px;
}
.shkala{
    display: block;
    width: 100%;
    padding: 7px;
    margin-top: 7px;
    border-radius: 7px;
}
button{ 
    display: flex; 
    margin-top: 10px;
    margin-left: 400px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #f4f4f4;
    background-color: #ff5252;
    border: 2px solid #0000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
}
button:hover{
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252 ;
}
button:active{
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
}
